<div class="container mt-5 ">
  <div >
    <p><a class="font-weight-bold text-success"><%= @expression %></a>　さんの一言を紹介します。</p>
  </div>
  <div class="proverb-expression">
    <p>「 <%= @proverbed_by %>」</p>
  </div>
</div>