 <div class="container">
  <div>
    <p>「心が弱った時の一言」にようこそ</p>
    <p>今はどんな気分でいらっしゃいますか？</p>
  </div>
  <div class="row">

    <div class="proverb-container col-6 text-center py-5 ">
      <%= link_to "疲れた　心が折れそう", proverbs_feel_path(feel: "tired"), class: "proverb-link" %>
    </div>
    <div class="proverb-container col-6 text-center py-5">
      <%= link_to "落ち込んでいる", proverbs_feel_path(feel: "depress"), class: "proverb-link"%>
    </div>
    <div class="proverb-container col-6 text-center py-5">
      <%= link_to "先行きが不安　迷っている　自信がない", proverbs_feel_path(feel: "anxious") , class: "proverb-link"%>
    </div>
    <div class="proverb-container col-6 text-center py-5">
      <%= link_to "特になんとも", proverbs_feel_path(feel: "other"), class: "proverb-link" %>
    </div>

  </div>
</div>
