<div class="container ">
  <div >
    <p><a class="font-weight-bold text-success"><%= @proverbed_by %></a>　さんの一言を紹介します。</p>
  </div>
  <div class="proverb-expression">
    <p>「 <%= @expression %>」</p>
  </div>
</div>